!!! Strict
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"} 
    %title
      PrimeBOT
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css",}/    
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}/
    
  %body
    != yield
